@font-face {
  font-family: 'FilsonSoftRegular';
  font-display: swap;
  src: local('FilsonSoft-Regular'),
  local('Filson Soft Regular'),
  url('/fonts/FilsonSoft/filson-soft-regular.woff2') format('woff2'),
  url('/fonts/FilsonSoft/filson-soft-regular.woff') format('woff');
}
