@font-face {
  font-family: 'Poppins';
  font-display: swap;
  font-weight: 400;
  src: 
    url('/fonts/Poppins/poppins-regular.woff2') format('woff2'),
    url('/fonts/Poppins/poppins-regular.woff') format('woff');
}
