
wp-config.php

nbproject/
webstat/
node_modules/

json/data.json

wp-content/cache/*
!wp-content/cache/index.html

wp-content/themes/faar/lib/twits/*
!wp-content/themes/faar/lib/twits/index.html

# known large file types
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi

