.info-box {
  padding: 24px 16px;
  border-radius: 4px;
  margin-bottom: 16px;

  @include respond-to('medium') {
    padding: 24px;
  }

  &--blue {
    background-color: $osca-light-blue-1;
  }

  &__title {
    font-family: $font-poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    display: flex;

    @include respond-to('medium') {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__text {
    margin-bottom: 0;
  }
}
